@inject IJSRuntime JSRuntime
<p class="code-info">@ErrorCode</p>
<p class="info-ab-code"><span class="@SelectorClass"></span>@Info</p>

@code {
    [Parameter]
    public int ErrorCode { get; set; }

    public string Info { get; set; } = string.Empty;
    public string SelectorClass { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        switch (ErrorCode)
        {
            case 404:
                Info = "Not found";
                SelectorClass = "oi oi-magnifying-glass";
                await JSRuntime.InvokeVoidAsync("setTitle", "404 - Not found");
                break;
            case 401:
                Info = "Unauthorized";
                SelectorClass = "oi oi-ban";
                await JSRuntime.InvokeVoidAsync("setTitle", "401 - Unauthorized");
                break;
            default:
                ErrorCode = 000;
                Info = "Unhandled Exception";
                SelectorClass = "oi oi-cog";
                await JSRuntime.InvokeVoidAsync("setTitle", "000 - Unhandled Exception");
                break;
        }
    }

}
