.members-shop[b-j4gtno1bjv]{
    width: 60%;
    height: 200px;
    padding-top: 10px;
}
.nickname-member[b-j4gtno1bjv] {
    padding-left: 5px;
}
.member[b-j4gtno1bjv] {
    background-color: #EAEAEA;
    height: 50px;
}
.avatar-member[b-j4gtno1bjv]{
   padding:5px;
}