body[b-419ogtr201] {
}
.sales-content[b-419ogtr201]{
    margin-left:0;
    margin-top: 2%;
}
.info-0-off[b-419ogtr201] {
    font-size: 24px;
    color: #d6d5d5;
    margin-left:5%;
    margin-top:15px;
}