body[b-yxxy7xp3mm] {
}
.sales-content[b-yxxy7xp3mm] {
    margin-left: 0;
    margin-top: 2%;
}
.info-0-sales[b-yxxy7xp3mm] {
    font-size: 24px;
    color: #d6d5d5;
    margin-left: 5%;
    margin-top: 15px;
}