@page "/signin"
@inject NavigationManager nav
@inject IHttpContextAccessor http
@inject IJSRuntime JSRuntime

<h3>Login</h3>
<AuthorizeView>
    <Authorized>
        Вы уже в системе!
    </Authorized>
    <NotAuthorized>
        <div class="text-danger">@Message</div>
        <form method="post" action="login">
            <input class="form-control col-4" type="text" name="userName" />
            <input class="form-control col-4" type="password" name="passWord" />
            <button class="btn btn-secondary">Log in</button>
        </form>
    </NotAuthorized>
</AuthorizeView>

@code {

    public string Message { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {

        var uri = nav.ToAbsoluteUri(nav.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("message", out var message))
        {
            if (message == "error")
            {
                Message = "Логин или пароль введены некорректно";
            }
            else { Message = "Unhandled Exception"; }
        }
        await JSRuntime.InvokeVoidAsync("setTitle", "Авторизация");
    }





}
