@inject TradingPlatformBlazor.Data.Repository.ICategory SqlCategory
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager nav
@inject IJSRuntime JSRuntime
@page "/"




<div class="container">
    <div class="row">
        <div class="col-4">
            @foreach (var i in group)
            {
                <div>
                    <div class="font-monospace font-weight-boldert h4 text-key">
                        @i.Key

                    </div>
                    <div class="category-block">

                        @foreach (var j in i)
                        {
                            <div class="text-info">
                                <a href="/lots/@j.Id">@j.NameCategory</a>
                            </div>
                        }
                    </div>
                    <hr id="category-line" align="left" color="#d6d5d5" size="1" width="100%" />
                </div>
            }
        </div>
        <div class="col-6">



        </div>
    </div>
</div>


@code {
    IEnumerable<Category> categories = new List<Category>();
    IEnumerable<Category> sorted = new List<Category>();
    IEnumerable<IGrouping<char, Category>> group;




    protected override async Task OnInitializedAsync()
    {


        categories = SqlCategory.AllCategories();
        sorted = from c in categories orderby c.NameCategory select c;

        group = sorted.GroupBy(items => items.NameCategory[0]);


        group = group.Distinct();
        await JSRuntime.InvokeVoidAsync("setTitle", "Main");
    }



}
