body {

}
.text-key {
    color: #d6d5d5;
}
a {
    color: #7898f6;
    text-decoration:none;
}
.news-block {
    border: 1px solid #d6d5d5;
    border-radius: 5px;
    width: 70%;
    height: 500px;
}
.category-line {
    border: 0.5px solid #d6d5d5;
    width:100%;
}