@page "/messager"


    <div class="container p-0">
		<div class="card">
            <div class="row g-0">
                <Dialogs></Dialogs>
                <div class="col-12 col-lg-7 col-xl-9">
                    <MessegerBox></MessegerBox>
                </div>
            </div>
    </div>
</div>


@code {
   
}
