@page "/messager"
@inject IJSRuntime JSRuntime
@attribute [Authorize]
    <AuthorizeView>
        <NotAuthorized>
           <ErrorComponent ErrorCode="401"></ErrorComponent>
        </NotAuthorized>
        <Authorized>
            <div class="container p-0">
                <div class="card">
                    <div class="change-chat">
                        <div class="row chats">
                            <div class="col d-inline user-link"><a href="/messager">User</a></div>
                            <div class="col d-inline shop-link"><a href="/messagershop">Shop</a></div>

                        </div>
                    </div>
                    <div class="row g-0">
                        <Dialogs></Dialogs>
                        <div class="col-12 col-lg-7 col-xl-9">
                            <MessegerBox></MessegerBox>
                        </div>
                    </div>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    @code {
        protected override async Task OnInitializedAsync()
        {
            await JSRuntime.InvokeVoidAsync("setTitle", "Месседжер");
        }
}
