@page "/about"

<div class="content">
    <p class="name-project display-6">Trading Platform</p>
    <p class="desc-edu">Сервис разработал студент высшего учебного заведения НГПУ им. К. Минина <br>Романов Владислав Игоревич</p>
    <p class="d-inline chapter">Технологии</p>
    <div class="line"></div>
    <p class="technologies">В этом проекте используются следующие фреймворки, библиотеки и технологии:</p>
    <div class="dependes">
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a> и <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-6.0">ASP .NET Core</a> для кроссплатформенной серверной части проекта</li>
            <li><a href="https://docs.microsoft.com/ru-ru/aspnet/signalr/">SignalR</a> для связи серверной и клиентской части</li>
            <li><a href="https://docs.microsoft.com/ru-ru/ef/core/">EntityFrameworkCore</a> для подключения и использования базы данных</li>
            <li><a href="https://docs.microsoft.com/ru-ru/aspnet/core/blazor/">Blazor</a> для клиентской части проекта</li>
            <li><a href="https://getbootstrap.com/">Bootstrap</a> библиотека для UI компонентов</li>
        </ul>
    </div>
    <div class="line"></div>
    <div class="thema">
        <p>Данный проект используется для практической части дипломной работы по теме</p>
        <p class="p-thema">
            Разработка web-сайта с базой данных "Торговая площадка"
        </p>
    </div>
    <div class="copy">Copyright &#169; 2022 Vladislav Romanov</div>
</div>




@code {

}
