@page "/admin"
@inject TradingPlatformBlazor.Data.Services.IEmailingService emailing
@inject TradingPlatformBlazor.Data.Services.IUserStatus userStatus
    <AuthorizeView Roles="Administrator">
        <h3>PageAdminPanel</h3>
        <a href="/add_category" class="btn btn-group">Добавить категорию</a>
        
        <button @onclick="OpenDialog">Поиск пользователя</button>
        

        @if (DialogOpen)
        { 
            <FindUser OnClose="OnDialogClose"></FindUser>
        }
    </AuthorizeView>

<button @onclick="Test">test</button>



@code {
    private List<User> onlineUsers;


    public bool DialogOpen { get; set; }

    protected override void OnInitialized()
    {
        onlineUsers = new List<User>();
    }
    private void OnDialogClose()
    {
        DialogOpen = false;
    }
    private void OpenDialog()
    {
        DialogOpen = true;
    }

    private void Test()
    {
        onlineUsers = userStatus.GetOnlineUsers();
    }
}
