@page "/admin"
@inject TradingPlatformBlazor.Data.Services.IEmailingService emailing
@inject TradingPlatformBlazor.Data.Services.IUserStatus userStatus
@inject IHttpContextAccessor htp
@inject IJSRuntime JSRuntime
@attribute [Authorize]

@if(valueClaim != "Administrator") { <ErrorComponent ErrorCode="404"></ErrorComponent>}
<AuthorizeView Roles="Administrator">
    <h3>PageAdminPanel</h3>
    <a href="/add_category" class="btn btn-group">Добавить категорию</a>

    <button @onclick="OpenDialog">Поиск пользователя</button>


    @if (DialogOpen)
    {
        <FindUser OnClose="OnDialogClose"></FindUser>
    }
    <button @onclick="Test">test</button>
</AuthorizeView>





@code {
    private List<User> onlineUsers;


    public bool DialogOpen { get; set; }

    private string valueClaim;

    protected override async Task OnInitializedAsync()
    {
        valueClaim = htp.HttpContext.User.Claims.FirstOrDefault(s => s.Type == ClaimTypes.Role).Value;
        onlineUsers = new List<User>();
        await JSRuntime.InvokeVoidAsync("setTitle", "Admin panel");
    }


    private void OnDialogClose()
    {
        DialogOpen = false;
    }
    private void OpenDialog()
    {
        DialogOpen = true;
    }

    private void Test()
    {
        onlineUsers = userStatus.GetOnlineUsers();
    }
}
