@page "/terms"

<div class="content">
    <div class="display-4 text-center">Пользовательское соглашение</div>

    <p class="article">1. Во время использования сайта TradingPlatform (далее - "сайт") будут использоваться разные записи о пользователе. Например, последняя дата посещения сайта.</p>
    <p class="article">2. Использование coockie. Для хранения информации о пользователи сервис TradingPlatform использует coockies.</p>
    <p class="article">3. Информация, собранная на это ресурсе остается на этом ресурсе. Исключение, законадательства стран.</p>
    <p class="article">4. По мере продвижения сервиса TradingPlatform, пользовательское соглашение будет изменяться.</p>

</div>



@code {

}
