body {
}

.name-project{

}
.line {
    border: 1px solid #f2f2f2;
    max-width: 90%;
}
.dependes {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.dependes li {
    list-style-type: none;
    margin-top: 10px;
}
.content p{
    text-align:center;
}
.chapter {
    font-family: 'Courier New', Courier, monospace;
    text-align:left;
}

.copy{
    margin-top:10%;
    text-align:center;
}
.p-thema{
    font-size:24px;
}