@inject NavigationManager Navigation
@inject TradingPlatformBlazor.Data.Repository.IUser SqlUser;
@page "/signup"
<AuthorizeView>
    <Authorized>
        <p class="alert-info">Вы уже зарегистрированы</p>
    </Authorized>
    <NotAuthorized>
        <h3>Registration</h3>
        <div class="text-danger">@Message</div>
        <form method="post" action="registration">
            <label for="input-nick">Desired Nickname:</label>
            <input name="UserName" type="text" id="input-nick" class="form-control col-4" placeholder="Nickname" />
            <label for="input-pass">Desired Password:</label>
            <input name="PwdCrypt" type="password" id="input-pass" class="form-control col-4" placeholder="Password" />
            <label for="input-apass">Password again:</label>
            <input name="rPwdCrypt" type="password" id="input-apass" class="form-control col-4" placeholder="Password again" />
            <label for="input-email">Your e-mail:</label>
            <input name="Email" type="email" id="input-email" class="form-control col-4" placeholder="E-mail" />
            <button class="btn btn-primary">Registrtation</button>
        </form>
        <h3 class="text-success text-center">@Done</h3>
    </NotAuthorized>
</AuthorizeView>
@code {



    public string Message { get; set; } = null;
    public string Done { get; set; }
    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("e", out var error))
        {

            switch(error)
            {
                case "emptyfields":
                    Message = "Все поля должны быть заполнены!";
                    break;
                case "iscyrillic":
                    Message = "Никнейм и пароль не должны содержать кириллицу.";
                    break;
                case "differentpwd":
                    Message = "Пароли не совпадают.";
                    break;
                case "reserved":
                    Message = "Никнейм уже занят.";
                    break;
                case "reservedemail":
                    Message = "На данный E-mail уже зарегистрирован аккаунт";
                    break;
                case "done":
                    Done = "На ваш e-mail отправлено письмо с активацией акккаунта...";
                    break;
                default:
                    Message = "Unhandled Exception";
                    break;

            }
        }

    }
 }

