/* _content/TradingPlatformBlazor/Pages/MainPage.razor.rz.scp.css */
body[b-ywmoonnn9r] {

}
.text-key[b-ywmoonnn9r] {
    color: #d6d5d5;
}
a[b-ywmoonnn9r] {
    color: #7898f6;
}
.news-block[b-ywmoonnn9r] {
    border: 1px solid #d6d5d5;
    border-radius: 5px;
    width: 70%;
    height: 500px;
}
/* _content/TradingPlatformBlazor/Pages/ProfileUser.razor.rz.scp.css */
body[b-jno4ptqhca] {
}
.profile-nickname[b-jno4ptqhca] {
}

.user-lots[b-jno4ptqhca] {
    margin-top: 30px;
    max-width: 700px;
}

.profile-avatar[b-jno4ptqhca] {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 15px;
}

.name-category-user[b-jno4ptqhca] {
    height: 50px;
    padding-top: 10px;
}

.name-lot-user[b-jno4ptqhca] {
    height: 50px;
    padding-top: 10px;
}

.desc-lot-user[b-jno4ptqhca] {
    min-height: 50px;
    height: auto;
    padding-top: 10px;
    word-break: break-all;
}

.gds-user[b-jno4ptqhca] {
    margin-left: 14px;
}

.rating-mini[b-jno4ptqhca] {
    display: inline-block;
    font-size: 0;
}

    .rating-mini span[b-jno4ptqhca] {
        padding: 0;
        font-size: 20px;
        line-height: 1;
        color: lightgrey;
    }

    .rating-mini > span[b-jno4ptqhca]:before {
        content: '★';
    }

    .rating-mini > span.active[b-jno4ptqhca] {
        color: gold;
    }

.comments-user[b-jno4ptqhca] {
    max-width: 700px;
    margin-top: 30px;
}

.nickname-comment-user[b-jno4ptqhca] {
    height: 50px;
    padding-top: 10px;
}

.bodytext-comment-user[b-jno4ptqhca] {
    height: 50px;
    padding-top: 10px;
    word-break: break-all;
    min-height: 50px;
    height: auto;
}

.rating-comment-user[b-jno4ptqhca] {
    height: 50px;
    padding-top: 15px;
    padding-left: 80px;
}

.h-comments-user[b-jno4ptqhca] {
    margin-left: 14px;
}

.comment-body[b-jno4ptqhca] {
    min-height: 50px;
    height: auto;
    margin-top: 0;
    text-align: center;
}

    .comment-body:hover[b-jno4ptqhca] {
        background-color: #ECECEC;
    }

.avatar-comment-user[b-jno4ptqhca] {
    margin-bottom: 5px;
}

.a-comment-user[b-jno4ptqhca] {
    color: black;
    text-decoration: none;
}

    .a-comment-user:hover[b-jno4ptqhca] {
        color: black;
        text-decoration: none;
    }

.a-lot-user[b-jno4ptqhca] {
    color: black;
    text-decoration: none;
}

    .a-lot-user:hover[b-jno4ptqhca] {
        color: black;
        text-decoration: none;
    }

.lot-body:hover[b-jno4ptqhca] {
    background-color: #ECECEC;
/* _content/TradingPlatformBlazor/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gn6jsgos5w] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gn6jsgos5w] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gn6jsgos5w] {
    font-size: 1.1rem;
}

.oi[b-gn6jsgos5w] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gn6jsgos5w] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gn6jsgos5w] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gn6jsgos5w] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gn6jsgos5w]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gn6jsgos5w]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gn6jsgos5w]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gn6jsgos5w] {
        display: none;
    }

    .collapse[b-gn6jsgos5w] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/TradingPlatformBlazor/Shared/ShopSettings.razor.rz.scp.css */
.members-shop[b-j4gtno1bjv]{
    width: 60%;
    height: 200px;
    padding-top: 10px;
}
.nickname-member[b-j4gtno1bjv] {
    padding-left: 5px;
}
.member[b-j4gtno1bjv] {
    background-color: #EAEAEA;
    height: 50px;
}
.avatar-member[b-j4gtno1bjv]{
   padding:5px;
}
